@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.ol-popup {
  position: absolute;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  min-width: 280px;
  width: fit-content;
}

#information {
  font-family: serif;
  font-size: 1em;
  top: 15px;
  right: 15px;
  width: 33%;
  min-width: 280px;
}

ul,
li {
  margin-left: 10px;
  padding-left: 0px;
}

.blog {
  font-family: serif;
  font-size: 0.7;
  font-style: italic;
  text-align: right;
}
