@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.ol-popup {
  position: absolute;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  min-width: 280px;
  width: fit-content;
}

#information {
  font-family: serif;
  font-size: 1em;
  top: 15px;
  right: 15px;
  width: 33%;
  min-width: 280px;
}

ul,
li {
  margin-left: 10px;
  padding-left: 0px;
}

.blog {
  font-family: serif;
  font-size: 0.7;
  font-style: italic;
  text-align: right;
}

.minimize-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    background-color: #007bff; /* Blue background */
    border: none;
    border-radius: 3px;
    color: white; /* White text */
    vertical-align: bottom;
    font-size: 10px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.minimize-btn:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.minimized .blog,
.minimized #information-content {
    display: none;
}

.route-detail {
    display: none;
    text-indent: -24px;
    padding-left: 36px;
    font-size: 80%;
}

.route-detail-click {
    cursor: pointer;
    color: #007bff;
    font-size: 67%;
    vertical-align: center;
}
