@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
    font-family: sans-serif;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.ol-popup {
  position: absolute;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  min-width: 180px;
  width: fit-content;
}

#information {
  font-size: 0.9em;
  top: 15px;
  right: 15px;
  width: 33%;
  min-width: 280px;
}

.information-title {
  font-family: serif;
  font-size: 1.25em;
}

.blog {
  font-family: serif;
  font-size: 0.9em;
  font-style: italic;
  text-align: right;
}

.route-detail {
    display: none;
    text-indent: -24px;
    padding-left: 36px;
    font-size: 80%;
}

.route-mode {
}

.route-detail-click {
    cursor: pointer;
    color: #007bff;
    font-size: 67%;
    vertical-align: center;
}

.trip-time {
  color: green;
  float: right;
  font-size: 67%;
  vertical-align: center;
}

p {
  margin: 0;
  padding-top: 0;
  font-size: 1em;
  line-height: 1.5;
}

.icon {
  height: 2em;
  vertical-align: middle;
  padding-right: 5px;
}

hr {
  border: 0px dashed #999999;
}

#year-slider {
  margin-top: 10px;
  justify-content: space-between;
  display: flex;
}
